/*
rouge: #EC6663;
*/
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: url(images/bg3.jpg) no-repeat center;
  background-size: contain;
  background-position: top;
  z-index: -1000;
  width: 100%;
  overflow-x: hidden;
}

#services-tarifs{
  background: black;
}

.btn-1 .fa-arrow-right{
  display: none;
}

.btn-1:hover .fa-arrow-right{
display: table-cell;
}

.sticky-top {
  background-color: black;
}

.navbar .navbar-brand {
  font-size: 30px;
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 1vw;
  margin-left: 10px;
  color: white;
}

.fa-bars {
  color: white;
  font-size: 20px;
}

.active {
  color: #FFF;
  font-weight: 600;
  text-decoration: underline;
}

.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
  font-weight: bold;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#lp {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: 5%;
}

/*TEXT*/
.text {
  padding: 104px 304px 80px 5%;
  width: 100%;
  color: white;
}

.text h1 {
  font-size: 5vw;
  font-weight: 900;
  font-family: 'Merriweather', 'Poppins', sans-serif;
  margin: 40px 0 0;
}

/* BUTTONS */
.btn {
  color: #fff;
  cursor: pointer;
  margin: 0 0 2em;
  max-width: 280px;
  min-height: 80px;
  text-decoration: none;
  text-transform: none;
  width: 100%;
}

.button .text-btn {
  color: white;
}

.button .text-btn:hover {
  color: white;
  text-decoration: none;
}

.text-btn {
  color: white;
  font-size: 1.8vw;
  font-weight: 600;
}

.btn-1 {
  background: transparent;
  font-weight: 600;
}

.btn-1, .text-btn:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.btn-1:hover {
  background-color: #EC6663;
}

/* SECTION VALEURS */
#valeurs {
  padding-bottom: 2rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: scale(0.9);
}

#valeurs hr {
  background-color: white;
}

#valeurs .card {
  border-radius: 0px;
  background-color: #EC6663;
}

#valeurs .card:hover {
  background-color: #15152A;
  color: #F9EFE5;
}

#valeurs .card:hover h1 {
  color: #F9EFE5;
}

#valeurs .card:hover p {
  color: #F9EFE5;
}

#valeurs .card:hover .card-interior .title hr {
  background-color: #F9EFE5;
}

.card-interior {
  margin: 5%;
}

.card-img {
  margin-top: 10%;
  width: 60px;
}

.card-title {
  font-family: 'Merriweather', 'Poppins', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 3vw;
  margin-left: 5%;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.2vw;
}

/* QUI SOMMES-NOUS ? */
#about {
  height: auto;
  margin-top: 10vh;
  transform: scale(0.9);
}

#about img {
  width: 100%;
}

#about .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #15152A;
  margin-top: 10%;
}

#about .hr {
  float: left;
  width: 20%;
  height: 5px;
  background-color: #EC6663;
  margin-top: auto;
}

#about p {
  text-align: justify;
  color: #15152A;
}

/* SECTION CO-FREELANCING */
#co-freelancing {
  background: url(images/bg-color.jpg) no-repeat center;
  background-size: cover;
  display: table;
}

#co-freelancing .bg {
  padding-top: 6%;
  display: table-cell;
  vertical-align: middle;
}

#co-freelancing .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #F9EFE5;
  margin-left: 4%;
}

#co-freelancing .text {
  color: #F9EFE5;
  margin-top: -4%;
  margin-left: 4%;
}

/* SECTION CTA NOS SERVICES */
#cta-projets .btn-2{
  display: block;
  margin: 0 auto;
  background: transparent;
  font-weight: 600;
}

#cta-projets .text-btn2 {
  color: #15152A;
  font-size: 1.8vw;
  font-weight: 600;
}

#cta-projets .btn-2:hover a {
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 600;
}

#cta-projets .btn-2:hover {
  background-color: #15152A;
  color: #FFFFFF;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
  .navbar .nav-link {
    font-size: 3vw;
    color: white;
  }

  body {
    background-image: url(images/bg.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: top;
    z-index: -1000;
  }

  .text h1 {
    font-size: 8vw;
    font-weight: 900;
    font-family: 'Merriweather', 'Poppins', sans-serif;
    margin: 40px 0 0;
  }

  .btn {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin: 0 0 2em;
    max-width: 280px;
    min-height: 80px;
    text-decoration: none;
    text-transform: none;
    width: 100%;
  }

  .text-btn {
    color: white;
    font-size: 3vw;
  }

  .card-title {
    font-family: 'Merriweather', 'Poppins', sans-serif;
    color: white;
    font-size: 5vw;
    margin-left: 5%;
  }

  .card-text {
    font-size: 3.5vw;
  }
}
