#lp .btn-2 .fa-arrow-right {
  display: none;
}

#lp .btn-2 {
  border: 4px solid #EC6663;
  border-radius: 0px;
}

#lp .btn-2:hover .fa-arrow-right {
  display: table-cell;
  margin-left: 20%;
}

#lp .btn-2:hover {
  background-color: #EC6663;
  transition: ease 0.5s;
}

#lp .text-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#lp .btn-2:hover .text-btn{
  color: #FFFFFF;
  transition: ease 0.5s;
}
