/*
rouge: #EC6663;

*/
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: url(images/bg.jpg) no-repeat center;
  background-size: contain;
  background-position: top;
  z-index: -1000;
  width: 100%;
  overflow-x: hidden;
}

#services-tarifs {
  background: black;
}

#projets {
  background: black;
}

#services-tarifs #lp .branding:hover, .vitrine:hover, .supports:hover .btn-2 {
  width: 100%;
}

#lp .btn-2 .fa-arrow-right {
  display: none;
}

#lp .btn-2 {
  border: 4px solid #EC6663;
  border-radius: 0px;
}

#lp .btn-2:hover .fa-arrow-right {
  display: table-cell;
  margin-left: 20%;
}

#lp .btn-2:hover {
  background-color: #EC6663;
  transition: ease 0.5s;
}

#lp .text-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#lp .btn-2:hover .text-btn {
  color: #FFFFFF;
  transition: ease 0.5s;
}

.sticky-top {
  background-color: black;
}

.navbar .navbar-brand {
  font-size: 30px;
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 1vw;
  margin-left: 10px;
  color: white;
  font-weight: 600;
}

.navbar .lien-actif {
  font-size: 1vw;
  margin-left: 10px;
  color: #EC6663;
}

.fa-bars {
  color: white;
  font-size: 20px;
}

.active {
  color: #EC6663;
  font-weight: 600;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: #EC6663;
  font-weight: bold;
}

.nav-item .lien-actif:hover {
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#lp {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: 5%;
}

/*TEXT*/
.text {
  padding: 104px 304px 80px 5%;
  width: 100%;
  color: white;
}

.text h1 {
  font-size: 5vw;
  font-weight: 900;
  font-family: 'Merriweather', 'Poppins', sans-serif;
  margin: 40px 0 0;
}

/* BUTTONS */
.btn {
  color: #fff;
  cursor: pointer;
  margin: 0 0 2em;
  max-width: 280px;
  min-height: 80px;
  text-decoration: none;
  text-transform: none;
  width: 100%;
}

.button .text-btn {
  color: white;
}

.button .text-btn:hover {
  color: white;
  text-decoration: none;
}

.text-btn {
  color: white;
  font-size: 1.8vw;
  font-weight: 600;
}

.btn-1 {
  background: transparent;
  font-weight: 600;
  transition: ease 0.5s ease;
}

.btn-1 .text-btn:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.btn-1:hover {
  background-color: #EC6663;
  transition: 0.5s ease;
}

/* SECTION VALEURS */
#valeurs {
  padding-bottom: 2rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: scale(0.9);
}

#valeurs hr {
  background-color: white;
}

#valeurs .card {
  border-radius: 0px;
  background-color: #EC6663;
}

#valeurs .card:hover {
  background-color: #15152A;
  color: #F9EFE5;
}

#valeurs .card:hover h1 {
  color: #F9EFE5;
}

#valeurs .card:hover p {
  color: #F9EFE5;
}

#valeurs .card:hover .card-interior .title hr {
  background-color: #F9EFE5;
}

#teams hr {
  background-color: #F9EFE5;
}

.card-interior {
  margin: 5%;
}

.card-img {
  margin-top: 10%;
  width: 60px;
}

.card-title {
  font-family: 'Merriweather', 'Poppins', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 3vw;
  margin-left: 5%;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.2vw;
}

/* QUI SOMMES-NOUS ? */
#about {
  height: auto;
  margin-top: 10vh;
  transform: scale(0.9);
}

#about img {
  width: 100%;
}

#about img .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

/* Apparition overlay sur passage souris */
#about img:hover {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.5);
}

#about img {
  transition: .5s ease;
}

#about .title, #teams .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #15152A;
  margin-top: 10%;
}

#about .hr {
  float: left;
  width: 20%;
  height: 5px;
  background-color: #EC6663;
  margin-top: auto;
}

#teams .hr {
  float: left;
  width: 5%;
  height: 5px;
  background-color: #EC6663;
  margin-top: auto;
}

#co-freelancing .hr {
  width: 8%;
  float: left;
  margin-left: 5%;
  height: 5px;
  background-color: white;
  margin-top: auto;
}

#about p {
  text-align: justify;
  color: #15152A;
}

/* SECTION CO-FREELANCING */
#co-freelancing {
  background: url(images/bg-color.jpg) no-repeat center;
  background-size: cover;
  display: table;
}

#co-freelancing .bg {
  padding-top: 6%;
  display: table-cell;
  vertical-align: middle;
}

#co-freelancing .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #F9EFE5;
  margin-left: 4%;
}

#co-freelancing .text {
  color: #F9EFE5;
  margin-top: -4%;
  margin-left: 4%;
}

/* SECTION CTA NOS SERVICES */
#cta-projets .btn-2 {
  display: block;
  margin: 0 auto;
  background: transparent;
  font-weight: 600;
  transition: 0.5s ease;
}

#cta-projets .text-btn2 {
  color: #15152A;
  font-size: 1.8vw;
  font-weight: 600;
}

#cta-projets .btn-2:hover a {
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 600;
  transition: 0.5s left ease;
}

#cta-projets .btn-2:hover {
  background-color: #15152A;
  color: #FFFFFF;
}

/* LA TEAM */
.at-section__title {
  margin: 0 0 70px;
  color: #000;
  font-family: 'Merriweather', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}

.at-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
  border: none;
}

.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  flex-basis: 25%;
  min-width: 25%;
}

.at-column {
  z-index: 0;
  position: relative;
  background: #FFFFFF;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}

.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.at-column:hover {
  z-index: 1;
  border-radius: 1.5%;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}

.at-column:hover .at-social {
  opacity: 1;
  margin-left: -15%;
}

@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}

@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }

  .at-colum:hover .at-social {
    opacity: 1;
    margin-top: 15%;
  }
}

.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
}

.at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}

.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.at-user__name {
  color: #15152A;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.625rem;
}

.at-user__title {
  color: #15152A;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}

.at-social {
  margin: 0 auto;
  display: block;
  opacity: 0;
  -webkit-transition: margin 0.5s ease, opacity 0.5s ease;
  transition: margin 0.5s ease, opacity 0.5s ease;
}

.at-social__item {
  display: inline-block;
  margin: 0 5%;
}

.at-social__item a {
  display: block;
}

.at-social__item img {
  fill: #EC6663;
  display: block;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.at-social__item img:hover {
  fill: #15152A;
}

.teams {
  max-width: 1170px;
  width: 100%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
  .navbar .nav-link {
    font-size: 3vw;
    color: white;
  }

  body {
    background-image: url(images/bg.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: top;
    z-index: -1000;
  }

  .text h1 {
    font-size: 8vw;
    font-weight: 900;
    font-family: 'Merriweather', 'Poppins', sans-serif;
    margin: 40px 0 0;
  }

  .btn {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin: 0 0 2em;
    max-width: 280px;
    min-height: 80px;
    text-decoration: none;
    text-transform: none;
    width: 100%;
  }

  .text-btn {
    color: white;
    font-size: 3vw;
  }

  .card-title {
    font-family: 'Merriweather', 'Poppins', sans-serif;
    color: white;
    font-size: 5vw;
    margin-left: 5%;
  }

  .card-text {
    font-size: 3.5vw;
  }
}

/* PAGE SERVICES & TARIFS */
.containers {
  margin: 0 auto;
  display: block;
  width: 90vw;
}

#services .panel-default {
  width: 100%;
  border-top: 1px solid white;
  padding-top: 4%;
  padding-bottom: auto;
}

#services .panel-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
}

#services .panel-body .details {
  width: 50%;
  text-align: justify;
}

#services .panel-body .details h3 {
  color: #EC6663;
  font-size: 2vw;
}

#services .panel-body .tarifs-bloc {
  width: 30%;
  margin-left: 15%;
  float: right;
  display: table;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  background-color: #EC6663;
}

#services .panel-body .tarifs-bloc .texts {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

#services .panel-body .tarifs-bloc .texts a {
  text-decoration: underline;
  font-size: 1.2vw;
  color: white;
}

#services .panel-body .tarifs-bloc .texts a:hover {
  text-decoration: underline;
  font-size: 1.2vw;
  color: #15152A;
}

#services .panel-default>.panel-heading {
  color: white;
  background-color: transparent;
  border-color: #EC6663;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#services .panel-default>.panel-heading a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Merriweather', 'Poppins', sans-serif;
  color: white;
  font-size: 3.5vw;
}

#services .panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Merriweather', 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
}

#services .panel-default>.panel-heading a[aria-expanded="true"] {
  color: white;
  text-align: justify;
}

#services .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#services .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* PAGE PROJETS */

#nav-projets {
  display: flex;
  justify-content: center;
}

#a-nav-projet {
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px 20px 10px 20px;
  border-right: solid 5px #EC6663;
  cursor: pointer;
  transition: all 0.3s;
}

#a-nav-projet:last-child {
  border-right: hidden;
}

#a-nav-projet:hover {
  color: #EC6663;
}

#projets a {
  text-decoration: none;
  color: white;
}

#projets h2 {
  font-family: "Voltaire";
  text-transform: uppercase;
  margin: 0;
}

#projets #scene {
  /* background-color: #304056; */
  position: relative;
  overflow: hidden;
  width: 100%;
}

#scene .layer {
  pointer-events: none;
}

#scene .col {
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  width: 12.5%;
  pointer-events: all;
  overflow: initial;
  margin: 0 0 30px;
}

#scene .layer.main {
  width: 150%;
  position: absolute;
  z-index: 1;
  padding: 20px;
}

#scene .col a {
  display: block;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.37);
}

#scene .col a .hover {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: -15px;
  left: 15px;
  z-index: 1;
  color: white;
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78000000', endColorstr='#00000000', GradientType=1);
}

#scene .col a .hover:after {
  content: '';
  position: absolut;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(235, 116, 152);
  opacity: 0;
  transition: 0.35s ease;
}

#scene .col a .hover:hover:after {
  opacity: 0.85;
  transition: 0.35s ease;
}

#scene .align-bottom {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 2;
  padding: 15px 20px;
}

#scene .bg-img {
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

@media only screen and (max-width:1200px) {
  #scene .layer .col {
    width: 16.666%;
  }
}

@media only screen and (max-width:650px) {
  #scene .layer .col {
    width: 25%;
  }
}

/* PHOTO DE GROUPE */
#about .groups {
  padding: 1em 0;
  width: 100%;
}

@media screen and (max-width: 640px) {
  #about .groups {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  #about .groups {
    width: 100%;
  }
}

#about .content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#about .content .content-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#about .content:hover .content-overlay {
  opacity: 1;
}

#about .content-image {
  width: 100%;
}

#about .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

#about .content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

/* BACK TO TOP BUTTON */
/* PAGE CONTACT */
